* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    margin: 0;
    padding: 0;
}

p {
    font-size: 11px;
}

.container {
    margin: 1em 4em;
}

.navbar {
    min-width: 40em;
    display: flex;
    height: 90px;
    margin-bottom: 20px;
}

.navbar img {
    width: auto;
    height: 90px;
}

.nav {
    float: right;  
    width: 100%;
}

.nav li, .nav input {
    text-align: right;
    margin: auto 0.7em;
    display: inline;
    float: right;
    color: rgb(100, 100, 100);
}

.middle {
    min-width: 42em;
}

.middle-text {
    display: inline-block;
    width: 68%;
    color: white;
    margin-top: 8em;
}

.middle-text p {
    max-width: 600px;
}

.middle-text h4 {
    font-weight: bolder;
    border: 2px solid white;
    padding: 15px;
    width: 143px; 
    max-width: 600px;
}


.phone {
    display: inline-block;
    float: right;
    margin-top: 1em
}

.phone img {
    width: 175%;
}

.background-color {
    background-color: #0A8E84;
    height: 30em;
    min-width: 50em;
}

.bottom {
    text-align: center;
}

.bottom-imgs {
    display: inline-block;
    width: 14.6em;
    height: auto;
    text-align: center;
}

.bottom-imgs h4, .bottom-imgs p {
    margin-bottom: 0;
    margin-top: 0;
}

.bottom-imgs h4 {
    color: rgb(100, 100, 100);
}
.bottom-imgs p {
    color: rgb(119, 119, 119);
}

.bottom-imgs1 {
    margin-right: 5%;
}

.bottom-imgs2 {
    margin-left: 2%;
    margin-right: 2%;
}

.bottom-imgs3 {
    margin-left: 5%;
}

.bottom-imgs h3 {
    border: 2px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    width: 150px;
    margin-left: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom a {
    border: 2px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    margin: 0;
}

.bottom-imgs img {
    width: 14.6em;
    margin-bottom: 1em;
}