* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 1em 4em;
    min-width: 32em;
}

.navbar {
    display: flex;
    height: 100px;
    margin-bottom: 20px;
}

.navbar img {
    width: auto;
    height: 100px;
}

.nav {
    float: right;  
    width: 100%;
}

.nav li {
    text-align: right;
    margin: auto 0.5em;
    display: inline;
    float: right;
}

.middle-text {
    display: inline-block;
}

.background-color {
    background-color: #0A8E84;
}